.containerContent{
width:880px;
    display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
    .showMoreString{

      display:flex;
      justify-content: space-between;
      flex-direction: row;
      align-content: center;
      align-items: center;
      font-family: Roboto,serif;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      color: #FFD05E;
      .pointerBorder{
        width:85.5%;
        height:2px;
        border-top:1px dashed #D1D1D1
      }
    }

}

@media screen and (min-width:311px) and (max-width: 676px){
  .containerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

}
