.priceBlock{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items:center;
  border-top:1px solid #E8E8E8;
  .cont{
    padding-top: 25px;
    .alert{
      color:#FFD05E;
      font-size:15px;
    }
  }

}
