.island {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    border: 1px solid #E8E8E8;
    border-radius: 22px;
    padding: 30px 40px 35px;
    box-sizing: border-box;
    }

.layout__mobile {
    .island {
        padding-left: 20px;
        padding-right: 20px;
        }
    }